*{
    margin: 0;
    padding: 0;
}

body{
    background-color: map-get($backgrounds, backgroundBody);
    overflow-x: hidden;
    font-size: map-get($fonts, fontsSizeBodyMobile);
}

.index{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 14vh auto auto auto 18vh;
}

.galeria{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 14vh auto auto auto 18vh;
}

@media only screen and (min-width:768px) and (orientation:landscape){
    .index{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 18vh auto auto auto 18vh;
}
}

@media only screen and (min-width:1200px){
    
    body{
        background-color: map-get($backgrounds, backgroundBody);
        overflow-x: hidden;
        font-size: map-get($fonts, fontsSizeBodyDesktop);
    }

    .index{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 18vh auto auto auto 18vh;
    }

    .galeria{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 18vh auto auto auto 18vh;
}

    .formulario{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 18vh auto 18vh;
    }
}


