.carrusel{
    grid-row:span 2 / span 3;
    grid-column: 1 /  4;
    margin-top: 15px;

    img{
        width: 100vw;
        height: 30vh;
    }
}

@media only screen and (max-width:1200px) and (orientation:landscape){
    .carrusel{
        grid-row:span 2 / span 3;
        grid-column: 1 /  4;
        margin-top: 15px;
    
        img{
            width: 100vw;
            height: 50vh;
        }
}
}

@media only screen and (min-width:1200px){
    
    .carrusel{
        grid-row:span 2 / span 3;
        grid-column: 1 /  4;
        margin-top: 15px;
    
        img{
            width: 100vw;
            height: 60vh;
        }
}
}