$fonts:(
    tipografia-footer-header:Impact, 
    tipografia-section:'Gill Sans', 
    color-letra:#fff,
    fontsSizeBodyDesktop:1rem,
    fontsSizeBodyMobile:0.7rem,
    fontsHover:rgba(0, 255, 110, 0.768)   
);

$backgrounds:(
    backgroundHeaderFooter:black,
    backgroundBody:rgba(0, 0, 0, 0.606)
);