.cajaDos, .cajaUno {
  border: 2px solid #000;
  width: 100vw;
  height: 15vh;
  font-family: Impact;
  margin: 10px 0px 10px 0px;
  color: #fff;
  padding: 5px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(0, 0, 0, 0.606);
  overflow-x: hidden;
  font-size: 0.7rem;
}

.index {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 14vh auto auto auto 18vh;
}

.galeria {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 14vh auto auto auto 18vh;
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
  .index {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 18vh auto auto auto 18vh;
  }
}
@media only screen and (min-width: 1200px) {
  body {
    background-color: rgba(0, 0, 0, 0.606);
    overflow-x: hidden;
    font-size: 1rem;
  }
  .index {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 18vh auto auto auto 18vh;
  }
  .galeria {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 18vh auto auto auto 18vh;
  }
}
header {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  grid-row: 1/2;
  grid-column: 1/4;
  background-color: black;
}
header nav {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
}
header nav img {
  width: 20vw;
  height: 14vh;
}
header nav .form {
  display: none;
  padding-right: 20px;
}
header nav li {
  display: inline-block;
  list-style: none;
  padding: 10px;
  font-family: Impact;
}
header nav a {
  text-decoration: none;
  color: #fff;
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
  header nav img {
    width: 12vw;
    height: 18vh;
  }
}
@media only screen and (min-width: 1200px) {
  header {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
  }
  header nav {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
  }
  header nav img {
    width: 10vw;
    height: 16vh;
  }
  header nav .form {
    display: block;
    padding-right: 20px;
  }
  header nav li {
    display: inline-block;
    list-style: none;
    padding: 10px;
    font-family: Impact;
  }
  header nav li:hover {
    transition: all 0.8s;
    color: rgba(0, 255, 110, 0.768);
  }
  header nav a {
    text-decoration: none;
    color: #fff;
  }
}
.boton-uno {
  border: 2px solid #000;
  width: 18vw;
  height: 6vh;
  font-family: Impact;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.633);
}

.boton-dos {
  border: 2px solid #000;
  width: 18vw;
  height: 6vh;
  font-family: Impact;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.633);
}

.boton-tres {
  border: 2px solid #000;
  width: 18vw;
  height: 6vh;
  font-family: Impact;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.633);
}

.carrusel {
  grid-row: span 2/span 3;
  grid-column: 1/4;
  margin-top: 15px;
}
.carrusel img {
  width: 100vw;
  height: 30vh;
}

@media only screen and (max-width: 1200px) and (orientation: landscape) {
  .carrusel {
    grid-row: span 2/span 3;
    grid-column: 1/4;
    margin-top: 15px;
  }
  .carrusel img {
    width: 100vw;
    height: 50vh;
  }
}
@media only screen and (min-width: 1200px) {
  .carrusel {
    grid-row: span 2/span 3;
    grid-column: 1/4;
    margin-top: 15px;
  }
  .carrusel img {
    width: 100vw;
    height: 60vh;
  }
}
.info {
  grid-column: 1/4;
  grid-row: 4/5;
  display: flex;
  justify-content: center;
  color: #fff;
  padding: 10px;
  height: 40vh;
  font-family: "Gill Sans";
}

.imagenes {
  grid-area: 2/4;
  grid-column: 1/2;
  height: 150vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.imagenes img {
  width: 100vw;
  height: 50vh;
}

@media only screen and (max-width: 1200px) and (orientation: landscape) {
  .imagenes {
    grid-area: 2/4;
    grid-column: 1/2;
    height: 280vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  .imagenes img {
    width: 100vw;
    height: 70vh;
  }
}
@media only screen and (min-width: 1200px) {
  .info {
    grid-column: 1/4;
    grid-row: 4/5;
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 15px;
    height: 40vh;
    font-family: "Gill Sans";
  }
  .imagenes {
    grid-area: 2/4;
    grid-column: 1/2;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
  }
  .imagenes img {
    width: 50vw;
    height: 50vh;
  }
}
footer {
  grid-row: 5/6;
  grid-column: 1/4;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}
footer .list-footer {
  display: flex;
  flex-direction: column;
}
footer .list-footer h4 {
  font-size: 0.8rem;
  font-family: Impact;
  color: #fff;
}
footer .list-footer li {
  font-size: 0.7rem;
  list-style: none;
}
footer .list-footer a {
  text-decoration: none;
  color: #fff;
  font-family: Impact;
}
footer .redes {
  display: flex;
  flex-direction: column;
  margin-right: 5vw;
  align-items: center;
}
footer .redes h4 {
  font-size: 0.7rem;
  font-family: Impact;
  color: #fff;
}
footer .redes a {
  text-decoration: none;
}
footer .redes a img {
  width: 4.2vw;
  height: 3vh;
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
  .redes div a {
    text-decoration: none;
  }
  .redes div a img {
    width: 2.2vw;
    height: 4vh;
  }
}
@media only screen and (min-width: 1200px) {
  footer {
    grid-row: 5/6;
    grid-column: 1/4;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    background-color: black;
  }
  footer a {
    text-decoration: none;
    color: #fff;
    font-family: Impact;
  }
  footer a:hover {
    transition: all 0.8s;
    color: rgba(0, 255, 110, 0.768);
  }
  footer .list-footer {
    display: flex;
    flex-direction: column;
  }
  footer .list-footer h4 {
    font-size: 0.8rem;
    font-family: Impact;
    color: #fff;
  }
  footer .list-footer li {
    font-size: 0.7rem;
  }
  footer .redes {
    display: flex;
    flex-direction: column;
    margin-right: 5vw;
    align-items: center;
  }
  footer .redes h4 {
    font-size: 0.9rem;
    font-family: Impact;
    color: #fff;
  }
  footer .redes a img {
    width: 1.2vw;
    height: 2.5vh;
  }
}
.divForm {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100vw;
  height: 80vh;
}
.divForm .form {
  width: 60vw;
}
.divForm input {
  margin: 15px 0px 15px 0px;
}
.divForm h3 {
  color: #fff;
}
.divForm textarea {
  margin-top: 10px;
}

@media only screen and (min-width: 1200px) {
  .divForm {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100vw;
    height: 70vh;
  }
  .divForm .form {
    width: 60vw;
  }
  .divForm input {
    margin: 15px 0px 15px 0px;
  }
  .divForm h3 {
    color: #fff;
  }
  .divForm textarea {
    margin-top: 10px;
  }
}
.cajaUno {
  background-color: rgb(19, 3, 73);
}

.cajaDos {
  background-color: rgb(255, 51, 0);
}/*# sourceMappingURL=styles.css.map */